.products__container{
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .product{
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:10px;
    padding: 20px;
    width:400px;
    transition: all ease-in .35s;
    &:hover{
      transform: translateY(-5px);
    }
    .product__image{
      align-items: center;
      display: flex;
      height: 300px;
      justify-content: center;
      width:300px;
     
      & img{
      height: auto;
      max-height: 300px;
      width:  200px;
      }
    }
    .product__footer{
      width: 100%;
      align-items: center;
      justify-content: space-between;
      display: flex;
      .product__title{
        font-size:1.2rem;
      }
      & a{
        display:inline-block;
        padding:0.5em 1.5em;
        background-color: darkgoldenrod;
        border-radius:5px;
        box-sizing: border-box;
        text-decoration:none;
        font-weight:500;
        color:white;
        text-align:center;
        transition: all 0.2s;
        &:hover{
          background-color: rgb(108, 80, 9);
        }
      }
    }
    
  }
 
}
