header{
  align-items: center;
  background-color:black;
  display: flex;
  height:100px;
  justify-content: space-around;
  margin:0;
  padding:25px;

  & h1{
    color:darkgoldenrod;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:2.7em;
    font-weight: bold;
  }

  .header-container{
    align-items: center;
    display: flex;
    gap:20px;
    justify-content: center;
    list-style-type: none;

    & a {
      font-size: 1.5em;
      transition:all .5s;
      text-decoration: none;
      &:visited{
        color:white;
      }
      &:hover{
        color:darkgoldenrod;
      }
    }    
}
}

@media (min-width:768px){
  .header-container{
    flex-direction: row;
  }
}
